<form action="/skills/<%= @skill.id %>" method="POST">
  <p>Edit:</p>
  <input type = "hidden" name = "_method" value = "PUT">
  <input type='text' name='skill[title]' value = "<%= @skill.title %>" id="skill-title">
  <textarea name='skill[description]' id='skill-description'><%= @skill.description %></textarea><br>
  <input type='submit' value="Update Skill"/>
</form>
